#menu {
    background-image: url("/src/background_img.jpg");
    font-weight: 100px;
    font-style: italic;


}

.nav-link a {
    color: black;
    font-weight: bolder;

}

.container {
    margin-top: 5%;
}

.card {
    margin-top: 5%;
    margin-bottom: 10%;
}